<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- Annotation -->
	<context:component-scan base-package="com.wdist.biz.*"></context:component-scan>

	<!-- Spring -->
	<bean id="dataSourceLinux" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.apache.hive.jdbc.HiveDriver"></property>
		<property name="url" value="jdbc:hive2://70.12.109.53:10000"></property>
		<property name="username" value="hive"></property>
		<property name="password" value="1234"></property>
	</bean>
			
	<!-- MyBatis -->
	<bean id="sqlSessionLinux" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceLinux"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplateLinux" class="org.mybatis.spring.SqlSessionTemplate"
		c:sqlSessionFactory-ref="sqlSessionLinux"></bean>
	
	<bean id="dataSourceWindow" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://70.12.109.78:3306/wdist"></property>
		<property name="username" value="wdist"></property>
		<property name="password" value="1234"></property>
	</bean>
		
	<!-- MyBatis -->
	<bean id="sqlSessionWindow" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceWindow"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplateWindow" class="org.mybatis.spring.SqlSessionTemplate"
		c:sqlSessionFactory-ref="sqlSessionWindow"></bean>
		
	<!-- AOP Annotation -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>
