<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wdist.biz.reply.vo.ReplyVO" alias="ReplyVO"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="./mappers/replyMapper.xml" />
		<mapper class="com.wdist.biz.mybatis.mapper.UserMapper" />
		<mapper class="com.wdist.biz.mybatis.mapper.BoardMapper" />
		<mapper class="com.wdist.biz.mybatis.mapper.FoodMapper" />
	</mappers>
</configuration>